@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Monserrat/Montserrat-Bold.eot');
    src: url('fonts/Monserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Monserrat/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Monserrat/Montserrat-Bold.woff') format('woff'),
        url('fonts/Monserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-BlackItalic.eot');
    src: url('fonts/Lato/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/Lato-BlackItalic.woff2') format('woff2'),
        url('fonts/Lato/Lato-BlackItalic.woff') format('woff'),
        url('fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Light.eot');
    src: url('fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/Lato-Light.woff2') format('woff2'),
        url('fonts/Lato/Lato-Light.woff') format('woff'),
        url('fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Regular.eot');
    src: url('fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url('fonts/Lato/Lato-Regular.woff') format('woff'),
        url('fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-LightItalic.eot');
    src: url('fonts/Lato/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/Lato-LightItalic.woff2') format('woff2'),
        url('fonts/Lato/Lato-LightItalic.woff') format('woff'),
        url('fonts/Lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('fonts/Lato/Lato-HairlineItalic.eot');
    src: url('fonts/Lato/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/Lato-HairlineItalic.woff2') format('woff2'),
        url('fonts/Lato/Lato-HairlineItalic.woff') format('woff'),
        url('fonts/Lato/Lato-HairlineItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Bold.eot');
    src: url('fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/Lato-Bold.woff2') format('woff2'),
        url('fonts/Lato/Lato-Bold.woff') format('woff'),
        url('fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('fonts/Lato/Lato-Hairline.eot');
    src: url('fonts/Lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/Lato-Hairline.woff2') format('woff2'),
        url('fonts/Lato/Lato-Hairline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Italic.eot');
    src: url('fonts/Lato/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/Lato-Italic.woff2') format('woff2'),
        url('fonts/Lato/Lato-Italic.woff') format('woff'),
        url('fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Black.eot');
    src: url('fonts/Lato/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/Lato-Black.woff2') format('woff2'),
        url('fonts/Lato/Lato-Black.woff') format('woff'),
        url('fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-BoldItalic.eot');
    src: url('fonts/Lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lato/Lato-BoldItalic.woff2') format('woff2'),
        url('fonts/Lato/Lato-BoldItalic.woff') format('woff'),
        url('fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   
    width: 1600px;
}
.header-page {
    background-image: url("img/backgroundHeder.jpg");
    width: 100%;
    height: 900px;
    margin: 0;
    padding-left: 215px;
    padding-top: 531px;
}
.header-page-name{
    font-family: 'Montserrat', 'Arial', sans-serif;
    color:  #ffffff;
    font-size: 48px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    top: 531px;
    left: 215px;
    text-transform: uppercase;
    
}
.header-page-name-text {
    font-family: 'Lato', 'Arial', sans-serif;
    color:  #ffffff;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    margin-bottom: 28px;
}
.header-page-logo {
    width: 831px;
    /*height: 129px;*/
    background-color: rgba(0,0,0, 0.2);
    
}
.header-page-tegline {
    border: 1px solid white;
    border-radius: 2px;
    font-family: Montserrat;
    color:  #ffffff;
    font-size: 54px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding: 32px 30px 30px;
}
.header-page-tegline>span{
    font-family: 'Montserrat', 'Arial',sans-serif;
    color:  #f1ad1d;
    font-size: 54px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.logo {
    position: relative;
    height: 300px;
}
.logo img {
    position: absolute;
    left: 41.5%;
}
.menu-h2 {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color:  #333333;
    font-size: 22px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 18px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-top: 69px;
}
.menu-slogan {
    font-family: 'Lato', 'Arial', sans-serif;
    color:  #4d4943;
    font-size: 17px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
    margin-top: 35px;
}
.border-slogan {
    margin-top: 52px;
    margin-bottom: 57px;
    width: 60px;
    border: 3px solid rgb(241, 174, 23);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}
.menu-text {
    display: inline-block;
    margin-left: 13.4%;
    margin-top: 25px;
}
.menu-text p {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color:  rgb(241, 174, 23);
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 20px;
}
.menu-nav {
    height: 60px;
}

.menu-nav li {
    list-style: none;
    position: relative;
    left: 44%;
    float: left;
    height: 40px;
    margin-left: 50px;
    margin-top: -26px;
    
}
.menu-nav li a {
    font-family: 'Lato', 'Arial', sans-serif;
    color:  #3d3d3d;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}
.menu-nav li a:hover {
    color: rgb(241, 174, 23);
}
.border-nav {
    border: 3px solid rgb(241, 174, 23);
    width: 1169px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}